[Unit]
- Description=Logs some system statistics to the systemd journal
- Requires=monitor.service

[Timer]
- Unit=monitor.service
- OnCalendar=*-*-* *:*:00

[Install]
- WantedBy=timers.target
